1.	Написать программу, которая вычисляет площадь фигуры, параметры которой подаются на вход. Фигуры, которые подаются на вход: треугольник, прямоугольник, круг. Результатом работы является словарь, где ключ – это название фигуры, а значение – это площадь.

In [125]:
import math

def triangle_area(a, h):
    return 0.5 * a * h

def rectangle_area(a, b):
    return a * b

def circle_area(r):
    return math.pi * r ** 2

def main():

    figures = ["треугольник", "прямоугольник", "круг"]
    results = {}

    while True:
        choice = input("Площадь какой фигуры Вам нужно вычислить? Введите: треугольник, прямоугольник, круг \n Для завершения введите пустую строку ")

        if choice == '':
            break

        if choice not in figures:
            print("Фигура неизвестна")
        else:
            if choice == "треугольник":
                a = float(input("Введите длину основания треугольника: "))
                h = float(input("Введите высоту треугольника: "))
                area = triangle_area(a, h)

            elif choice == "прямоугольник":
                a = float(input("Введите длину прямоугольника: "))
                b = float(input("Введите ширину прямоугольника: "))
                area = rectangle_area(a, b)

            elif choice == "круг":
                r = float(input("Введите радиус круга: "))
                area = circle_area(r)

            results[choice] = area

    print("\nПлощади фигур:")
    for figure, area in results.items():
        print(f"{figure}: {area}")


if __name__ == "__main__":
    main()

Площадь какой фигуры Вам нужно вычислить? Введите: треугольник, прямоугольник, круг
 Для завершения введите пустую строку треугольник
Введите длину основания треугольника: 3
Введите высоту треугольника: 2
Площадь какой фигуры Вам нужно вычислить? Введите: треугольник, прямоугольник, круг
 Для завершения введите пустую строку прямоугольник
Введите длину прямоугольника: 32
Введите ширину прямоугольника: 4
Площадь какой фигуры Вам нужно вычислить? Введите: треугольник, прямоугольник, круг
 Для завершения введите пустую строку круг
Введите радиус круга: 4
Площадь какой фигуры Вам нужно вычислить? Введите: треугольник, прямоугольник, круг
 Для завершения введите пустую строку

Площади фигур:
треугольник: 3.0
прямоугольник: 128.0
круг: 50.26548245743669

2.	Написать программу, которая на вход получает два числа и операцию, которую к ним нужно применить. Должны быть реализованы следующие операции: +, -, /, //, abs – модуль, pow или ** – возведение в степень.

In [3]:
import math


def addition(a, b):
    return a + b


def subtraction(a, b):
    return a - b


def division(a, b):
    if b == 0:
        return "Деление на ноль недопустимо"
    return a / b


def integer_division(a, b):
    if b == 0:
        return "Деление на ноль недопустимо"
    return a // b


def absolute(a):
    return abs(a)


def power_first(a, b):
    return a ** b


def power_second(a, b):
    return math.pow(a, b)


def main():
    a = float(input("Введите первое число: "))
    b = float(input("Введите второе число: "))
    operation = input("Введите операцию, которую хотите применить: +, -, /, //, abs, pow, **: ")

    if operation == '':
        print("Операция не задана")
    else:
        if operation == '+':
            res = addition(a, b)
            print(res)
        elif operation == '-':
            res = subtraction(a, b)
            print(res)
        elif operation == '/':
            res = division(a, b)
            print(res)
        elif operation == '//':
            res = integer_division(a, b)
            print(res)
        elif operation == 'abs':
            res = absolute(a)
            print(res)
        elif operation == 'pow':
            res = power_first(a, b)
            print(res)
        elif operation == '**':
            res = power_second(a, b)
            print(res)


if __name__ == "__main__":
    main()

Введите первое число: 1
Введите второе число: 2
Введите операцию, которую хотите применить: +, -, /, //, abs, pow, **: +
3.0

3. Напишите программу, которая считывает с консоли числа (по
одному в строке) до тех пор, пока сумма введённых чисел не будет равна 0 и
после этого выводит сумму квадратов всех считанных чисел.

In [4]:
#Список для хранения введенных чисел
numbers = []
while True:
    try:
        num = float(input("Введите число: "))
        numbers.append(num)
        if sum(numbers) == 0:
            break
    except ValueError:
        print("Введите корректное число.")

sum_of_squares = sum(x ** 2 for x in numbers)
print(f"Сумма квадратов введенных чисел: {sum_of_squares}")

Введите число:
Введите корректное число.
Введите число: 1
Введите число: 2
Введите число: -1
Введите число: -2
Сумма квадратов введенных чисел: 10.0

4. Напишите программу, которая выводит последовательность
чисел, длинною N, где каждое число повторяется столько раз, чему оно равно.
На вход программе передаётся неотрицательное целое число N. Например,
если N = 7, то программа должна вывести 1 2 2 3 3 3 4. Вывод элементов списка
через пробел – print(*list).

In [2]:
n = int(input("Введите число: "))
lis = []
#Внешний цикл для перебора чисел
for i in range(1, n+1):
    #Внутренний цикл для повторений
    for j in range(1, i+1):
        lis.append(i)
print(*lis[:n])

Введите число: 5
1 2 2 3 3

5. Даны два списка:
А = [1, 2, 3, 4, 2, 1, 3, 4, 5, 6, 5, 4, 3, 2]
В = [‘a’, ’b’, ’c’, ’c’, ’c’, ’b’, ’a’, ’c’, ’a’, ’a’, ’b’, ’c’, ’b’, ’a’]
Создать словарь, в котором ключи – это содержимое списка В, а
значения для ключей словаря – это сумма всех элементов списка А в
соответствии с буквой, содержащийся на той же позиции в списке В.
Пример результата программы: {‘a’ : 10, ‘b’ : 15, ‘c’ : 6}.

In [3]:
a = [1, 2, 3, 4, 2, 1, 3, 4, 5, 6, 5, 4, 3, 2]
b = ["a", "b", "c", "c", "c", "b", "a", "c", "a", "a", "b", "c", "b", "a"]
#Создаем пустой словарь
dict = {} 

#Проходим по списка
for i in range(len(a)):
    key = b[i]
    value = a[i]

    #Если ключ уже есть в словаре, то увеличиваем значение
    if key in dict:
        dict[key] += value
    #Иначе, добавляем новый ключ с писок
    else:
        dict[key] = value

print(dict)

{'a': 17, 'b': 11, 'c': 17}

6. Скачать и загрузить данные о стоимости домов в калифорнии,
используя библиотеку sklearn.

In [39]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\user\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn) (1.21.5)
Requirement already satisfied: joblib>=1.1.1 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: scipy>=1.5.0 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn) (1.9.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)

In [1]:
from sklearn.datasets import fetch_california_housing
data = fetch_california_housing(as_frame=True)
data.keyseys()

dict_keys(['data', 'target', 'frame', 'target_names', 'feature_names', 'DESCR'])

7. Использовать метод info().

In [75]:
import pandas as pd

# Загружаем данные о стоимости домов в Калифорнии
data = fetch_california_housing()

# Создаем DataFrame из данных
df = pd.DataFrame(data.data, columns=data.feature_names)

# Используем метод info() для вывода информации о DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MedInc      20640 non-null  float64
 1   HouseAge    20640 non-null  float64
 2   AveRooms    20640 non-null  float64
 3   AveBedrms   20640 non-null  float64
 4   Population  20640 non-null  float64
 5   AveOccup    20640 non-null  float64
 6   Latitude    20640 non-null  float64
 7   Longitude   20640 non-null  float64
dtypes: float64(8)
memory usage: 1.3 MB

8. Узнать, есть ли пропущенные значения, используя isna().sum().

In [76]:
missing_val = df.isna().sum()
print("Пропущенные значения: \n{}".format(missing_val))

Пропущенные значения:
MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
dtype: int64

9. Вывести записи, где средний возраст домов в районе более 50 лет и
население более 2500 человек, используя метод loc().

In [77]:
# Фильтруем записи, где средний возраст домов > 50 и население > 2500
filtered_df = df.loc[(df['HouseAge'] > 50) & (df['Population'] > 2500)]

# Выводим отфильтрованные записи
filtered_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
460,1.4012,52.0,3.105714,1.060000,3337.0,9.534286,37.87,-122.26
4131,3.5349,52.0,4.646119,1.047945,2589.0,5.910959,34.13,-118.20
4440,2.6806,52.0,4.806283,1.057592,3062.0,4.007853,34.08,-118.21
5986,1.8750,52.0,4.500000,1.206349,2688.0,21.333333,34.10,-117.71
7369,3.1901,52.0,4.730942,1.017937,3731.0,4.182735,33.97,-118.21

10. Узнать максимальное и минимальное значения медианной стоимости дома.

In [86]:
# Выводим максимальную медианную стоимость
print("Максимальная медианная стоимость - {}".format(data.MedInc.max()))
# Выводим минимальную медианную стоимость
print("Минимальная медианная стоимость - {}".format(df.MedInc.min()))

Максимальная медианная стоимость - 15.0001
Минимальная медианная стоимость - 0.4999

11. Используя метод apply(), вывести на экран название признака и его среднее значение.

In [120]:
#Вычислим среднее значение для каждого столбца в ДатаФрейме
#Метод apply применяет функцию к каждому признаку (строке или столбцу) в ДатаФрейме
df.apply(pd.DataFrame.mean)

MedInc           3.870671
HouseAge        28.639486
AveRooms         5.429000
AveBedrms        1.096675
Population    1425.476744
AveOccup         3.070655
Latitude        35.631861
Longitude     -119.569704
dtype: float64